.passwordField, .emailField {
    border: 2px solid gray;
    border-left: 0px;
    border--radius: 8px ;
}

/* bg-gradient-to-r from-[#10e2ee] to-[#04ffa3] */
.form-control span {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input:focus {
    outline: none;
}

