.link-container li a {
    padding: 18px 0px 15px 20px;
    color: rgb(4, 30, 73);
    font-family: Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}


.link-container li>.active {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to top, #818CF8, #22D3EE) 1;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}