.otp-container {
    flex-wrap: wrap;
    gap: 20px;
}

.otp-container input {
    padding: 0.5rem;
    border: double 2px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white),
        linear-gradient(to left, #FF6600, #1D2736);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    width: 53px !important;
    height: 60px !important;
    margin-right: 0px !important;
    font-size: 23px;
}

@media screen and (max-width: 767px) {
    .otp-container {
        gap: 10px;
    }

    .otp-container input {
        padding: 0px;
        width: 40px !important;
        height: 50px !important;
        font-size: 20px;
    }
}

.flag-dropdown {
    background-color: inherit !important;
}

.react-tel-input .form-control {
    @apply py-5 !text-base w-[300px] bg-inherit;

}

.otp-container {
    justify-content: center;
}

.resend-otp {
    @apply mt-4;
}

.resend-otp button {
    @apply font-bold cursor-pointer text-base hover:underline text-blue-500
}

.resend-otp span {
    @apply font-bold
}

.recaptcha-container>div>div {
    width: 100% !important;
}

#rc-anchor-container {
    width: 100% !important;
}

#modal-theme>div>div {
    background-color: rgb(29, 35, 42) !important;
    /* border: 1px solid lightgray; */
}

#modal-theme {
    @apply bg-black bg-opacity-50
}

#modal-theme>div>div .form-control {
    background-color: inherit !important;
}