@import "keep-react/src/main.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Heebo', sans-serif;

}

.react-multiple-carousel__arrow {
  background-color: #FF6600;
}

.custom-chat-scrollbar::-webkit-scrollbar {
    width: 10px; /* You can adjust the width as needed */
}

.custom-chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* You can adjust the width as needed */

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray; /* Set the color of the thumb */
  border-radius: 20px; /* Set the border radius of the thumb */
}

.custom-provider-scrollbar::-webkit-scrollbar {
  width: 5px; /* You can adjust the width as needed */
}

.custom-provider-scrollbar::-webkit-scrollbar-thumb {
background-color: lightgray;
border-radius: 20px;

}

.rdp-day_selected {
  background-color: #FF6600;
}

.custom-user-scrollbar::-webkit-scrollbar {
  width: 5px; /* You can adjust the width as needed */
  height: 8px;
}

.custom-user-scrollbar::-webkit-scrollbar-thumb {
  background: #3457a7; /* Light gray to dark gray gradient */

}
